.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left:40px;
  margin-top:20px;
  background: linear-gradient(135deg, rgba(54, 31, 123, 0.8), rgba(93, 74, 148, 0.8));
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  min-height: 300px;
  width: 220px;
}

.sidebar-header {
  margin-bottom: 20px;
}

.sidebar-header h2 {
  color: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-btn {
  padding: 15px 25px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: linear-gradient(135deg, rgba(238, 0, 255, 0.8), rgba(0, 204, 255, 0.8));
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.sidebar-btn:hover {
  background: linear-gradient(135deg, rgba(0, 204, 255, 0.8), rgba(238, 0, 255, 0.8));
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
